In [21]:
import pandas as pd
css = pd.read_csv('GSS.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1003,1056,1059) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
import numpy as np

In [7]:
css.head()

,YEAR,ID,WRKSTAT,HRS1,HRS2,EVWORK,WRKSLF,WRKGOVT,OCC10,INDUS10,...,GRNCON,FINAN4,ENPRBUS,ENPRBFAM,I_AGE,I_ATTEND,I_POLITICS,I_RACE,I_RELIGION,I_SEX
0,2012,1,2,15,-1,0,2,2,4800,7470,...,0,0,0,0,1,2,3,1,2,1
1,2012,2,2,30,-1,0,2,2,2900,770,...,0,0,0,0,1,1,4,1,2,1
2,2012,3,1,60,-1,0,2,2,1320,6070,...,0,0,0,0,2,1,4,3,1,1
3,2012,4,8,-1,-1,1,2,2,800,6990,...,0,0,0,0,3,1,4,1,1,2
4,2012,5,5,-1,-1,1,2,1,3800,9470,...,0,0,0,0,4,1,1,2,1,2

In [30]:
css1 = css[['SEX', 'SUICIDE1']]

In [31]:
css1 = css1[(css1['SUICIDE1'] <= 2) & (css1['SUICIDE1'] != 0)]

In [22]:
cs21 = pd.DataFrame(css, columns = ['SEX', 'SUICIDE1'])
cs21

      SEX  SUICIDE1
0       1         2
1       1         0
2       1         0
3       2         1
4       2         2
5       2         1
6       2         1
7       2         0
8       2         1
9       2         0
10      1         8
11      2         1
12      2         0
13      2         2
14      1         2
15      2         0
16      1         1
17      2         1
18      1         0
19      2         2
20      2         0
21      1         0
22      1         1
23      2         2
24      1         2
25      2         0
26      1         1
27      1         8
28      2         1
29      2         1
...   ...       ...
4790    1         1
4791    1         1
4792    2         1
4793    2         1
4794    2         1
4795    1         0
4796    2         2
4797    2         1
4798    2         0
4799    1         8
4800    1         0
4801    2         1
4802    1         0
4803    2         8
4804    1         1
4805    2         0
4806    2         1
4807    2         1
4808    1         1
4809    1         1
4810    1         2
4811    2         0
4812    1         2
4813    2         1
4814    1         0
4815    1         1
4816    2         2
4817    2         1
4818    2         0
4819    1         1

[4820 rows x 2 columns]

In [34]:
css1.to_csv('css1.csv')

In [2]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [5]:
nfl_frame = pd.read_clipboard()

In [8]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [23]:
l = pd.DataFrame(nfl_frame, columns = ['Team', 'Rank', 'Stadium'])

In [26]:
nfl_frame.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North

In [28]:
nfl_frame.ix[3]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  if __name__ == '__main__':

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [34]:
l.Stadium = np.arange(5)

In [38]:
stadiums = pd.Series(['l1', 'l2'], index=[4,2])

In [39]:
stadiums

4    l1
2    l2
dtype: object

In [40]:
l.Stadium = stadiums

In [42]:
Data = {'City' : ['SF', 'LA', 'NYC'], 'Population':[8370, 1256, 4562] }

In [45]:
d = pd.DataFrame(Data)

In [49]:
ser = pd.Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])

In [50]:
ser

A    1
B    2
C    3
D    4
dtype: int64

In [51]:
mind = ser.index

In [52]:
mind

Index(['A', 'B', 'C', 'D'], dtype='object')