In [195]:
import pandas as pd
import os
import numpy as np

In [196]:
d = pd.read_csv('Section6-Homework-Data.csv', encoding = 'latin1')

In [197]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 18 columns):
Day of Week               608 non-null object
Director                  608 non-null object
Genre                     608 non-null object
Movie Title               608 non-null object
Release Date              608 non-null object
Studio                    608 non-null object
Adjusted Gross ($mill)    608 non-null float64
Budget ($mill)            608 non-null float64
Gross ($mill)             608 non-null float64
IMDb Rating               608 non-null float64
MovieLens Rating          608 non-null float64
Overseas ($mill)          608 non-null float64
Overseas%                 608 non-null float64
Profit ($mill)            608 non-null float64
Profit%                   608 non-null float64
Runtime (min)             608 non-null float64
US ($mill)                608 non-null float64
Gross % US                608 non-null float64
dtypes: float64(12), object(6)
memory usage: 85.6+ KB

In [162]:
d.describe()

,Adjusted Gross ($mill),Budget ($mill),Gross ($mill),IMDb Rating,MovieLens Rating,Overseas ($mill),Overseas%,Profit ($mill),Profit%,Runtime (min),US ($mill),Gross % US
count,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000
mean,545.153125,92.467928,413.466118,6.923849,3.340378,246.332237,57.698849,320.945559,719.278783,117.781250,167.135197,42.301151
std,438.996563,59.421407,258.612104,0.925890,0.454071,184.581069,12.334237,233.887737,1942.807248,23.179122,92.465903,12.334237
min,202.100000,0.600000,200.300000,3.600000,1.490000,46.900000,17.200000,19.900000,7.700000,30.000000,0.000000,0.000000
25%,316.950000,45.000000,246.600000,6.375000,3.037500,135.525000,49.900000,180.700000,201.850000,100.000000,106.950000,33.700000
50%,425.950000,80.000000,327.750000,6.900000,3.365000,189.650000,58.200000,247.700000,338.550000,116.000000,141.700000,41.800000
75%,645.625000,130.000000,475.500000,7.600000,3.672500,283.650000,66.300000,389.750000,650.100000,130.250000,202.100000,50.100000
max,6846.700000,300.000000,2788.000000,9.200000,4.500000,2027.500000,100.000000,2551.000000,41333.300000,238.000000,760.500000,82.800000

In [198]:
d.columns = ['Day', 'Director', 'Genre', 'Title', 'Release', 'Studio', 'AdjGross', 'Budget', 'Gross', 'IMDb' , 'MovieLens', 'Overseas', 'Overeseas%', 'Profit', 'Profit%', 'Runtime', 'US', 'GrossPerc']

In [129]:
d.describe()

,AdjGross,Budget,Gross,IMDb,MovieLens,Overseas,Overeseas%,Profit,Profit%,Runtime,US,GrossPerc
count,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000
mean,545.153125,92.467928,413.466118,6.923849,3.340378,246.332237,57.698849,320.945559,719.278783,117.781250,167.135197,42.301151
std,438.996563,59.421407,258.612104,0.925890,0.454071,184.581069,12.334237,233.887737,1942.807248,23.179122,92.465903,12.334237
min,202.100000,0.600000,200.300000,3.600000,1.490000,46.900000,17.200000,19.900000,7.700000,30.000000,0.000000,0.000000
25%,316.950000,45.000000,246.600000,6.375000,3.037500,135.525000,49.900000,180.700000,201.850000,100.000000,106.950000,33.700000
50%,425.950000,80.000000,327.750000,6.900000,3.365000,189.650000,58.200000,247.700000,338.550000,116.000000,141.700000,41.800000
75%,645.625000,130.000000,475.500000,7.600000,3.672500,283.650000,66.300000,389.750000,650.100000,130.250000,202.100000,50.100000
max,6846.700000,300.000000,2788.000000,9.200000,4.500000,2027.500000,100.000000,2551.000000,41333.300000,238.000000,760.500000,82.800000

In [199]:
col_list = d.columns
col_list

Index(['Day', 'Director', 'Genre', 'Title', 'Release', 'Studio', 'AdjGross',
       'Budget', 'Gross', 'IMDb', 'MovieLens', 'Overseas', 'Overeseas%',
       'Profit', 'Profit%', 'Runtime', 'US', 'GrossPerc'],
      dtype='object')

In [200]:
for c in col_list:
    if d[c].dtype == 'object':
        d[c] = d[c].astype('category')

In [132]:
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [153]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 18 columns):
Day           608 non-null category
Director      608 non-null category
Genre         608 non-null category
Title         608 non-null category
Release       608 non-null category
Studio        608 non-null category
AdjGross      608 non-null float64
Budget        608 non-null float64
Gross         608 non-null float64
IMDb          608 non-null float64
MovieLens     608 non-null float64
Overseas      608 non-null float64
Overeseas%    608 non-null float64
Profit        608 non-null float64
Profit%       608 non-null float64
Runtime       608 non-null float64
US            608 non-null float64
GrossPerc     608 non-null float64
dtypes: category(6), float64(12)
memory usage: 126.5 KB

In [172]:
gen = ['action', 'comedy', 'adventure', 'animation', 'drama']

mov2 = d[d.Genre.isin(gen)]
st = ['Buena Vista Studios', 'Sony', 'Universal', 'WB', 'Paramount Pictures', 'Fox']
mov3 = mov2[mov2.Studio.isin(st)]
mov3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 423 entries, 1 to 606
Data columns (total 18 columns):
Day of Week               423 non-null object
Director                  423 non-null object
Genre                     423 non-null object
Movie Title               423 non-null object
Release Date              423 non-null object
Studio                    423 non-null object
Adjusted Gross ($mill)    423 non-null float64
Budget ($mill)            423 non-null float64
Gross ($mill)             423 non-null float64
IMDb Rating               423 non-null float64
MovieLens Rating          423 non-null float64
Overseas ($mill)          423 non-null float64
Overseas%                 423 non-null float64
Profit ($mill)            423 non-null float64
Profit%                   423 non-null float64
Runtime (min)             423 non-null float64
US ($mill)                423 non-null float64
Gross % US                423 non-null float64
dtypes: float64(12), object(6)
memory usage: 62.8+ KB

In [156]:
p = sns.boxplot(data = list1, color='lightgrey')
p1 = plt.scatter(data = list1, x= gen, y = 'GrossPerc' hue='Studio' )

SyntaxError: invalid syntax (<ipython-input-156-a76d939df5d5>, line 2)

In [108]:
d.Genre.cat.categories

Index(['action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'documentary', 'drama', 'fantasy', 'horror', 'musical', 'mystery',
       'romance', 'sci-fi', 'thriller'],
      dtype='object')

In [173]:
v1, v2, v3 = 5, 6, 8

In [182]:
v3 = 7

In [180]:
print('%s green' %('label'))

print("%s Avinash" % ("Hello"))

label green
Hello Avinash

In [183]:
print('%s love' %(v3))

7 love

In [184]:
#placeholder
print('%s age' %(35))

35 age

In [205]:
lis = [5, 7, 9,12, 25]

In [208]:
lis

[5, 7, 9, 25]

In [207]:
del lis[3]

In [209]:
lis1 = [65, 42]
li = lis1 + lis

In [210]:
li

[65, 42, 5, 7, 9, 25]

In [211]:
len(li)

6

In [212]:
len(lis1)

2

In [213]:
max(li)

65

In [214]:
min(lis1)

42

In [215]:
del li[2]

In [216]:
li

[65, 42, 7, 9, 25]

In [237]:
di = {'Len' : 56, 'Cri' : 48, 'Pen' : 42}

In [224]:
di['Pen'] = 45

In [220]:
print(di['Cri'])

48

In [221]:
del di['Cri']

In [225]:
print(di)

{'Len': 56, 'Cri': 48, 'Pen': 45}

In [226]:
di.clear()

In [227]:
di

{}

In [228]:
del di

In [231]:
len(di)

3

In [240]:
dic = di.get()

TypeError: get expected at least 1 arguments, got 0

In [242]:
dic.values()

dict_values([56, 48, 42])

In [246]:
dic = {'k' : 5}

In [247]:
di.update(dic)

In [248]:
di

{'Cri': 48, 'Len': 56, 'Pen': 42, 'k': 5}

In [256]:
jk = (25, 65, 45)

In [257]:
jk.append()

AttributeError: 'tuple' object has no attribute 'append'

In [255]:
jk

NameError: name 'jk' is not defined

In [261]:
favSongs = ['LA Story', 'Lost Stars', 'Grenade']
favMovies = ['Avengers', 'Iron Man', 'Hulk']
favorites = favSongs + favMovies
favorites.append("NYPD Red") #Amazing Book ;)
print(favorites)

['LA Story', 'Lost Stars', 'Grenade', 'Avengers', 'Iron Man', 'Hulk', 'NYPD Red']

In [263]:
ld = ['LA Story', 'Lost Stars', 'Grenade']
lde = ['Avengers', 'Iron Man', 'Hulk']
dl = ld + lde
dl

['LA Story', 'Lost Stars', 'Grenade', 'Avengers', 'Iron Man', 'Hulk']

In [264]:
dl.append('critics')

In [265]:
dl

['LA Story',
 'Lost Stars',
 'Grenade',
 'Avengers',
 'Iron Man',
 'Hulk',
 'critics']

In [267]:
First = input("Enter your first name: ")
Last = input('Enter your last name: ')
greeting = "Hello, %s %s"
print(greeting %(First, Last))

Enter your first name:Marianna
Enter your last name:Petrova
Hello, Marianna Petrova